body {
	display: flex;
	margin: 0;
	position: relative;
	width: 100%;
	justify-content: center;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(to bottom, #c8ceca, #eadeb9, #e2a872);
}

#vp {
	padding: 0 8px;
	width: 500px;
	min-height: 97vh;
	min-height: 97dvh;
	position: relative;
}

footer {
	position: absolute;
	bottom: 0;
	width: 500px;
}

.create {
	background-color: green;
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	padding: 7px 15px;
	margin: 5px;
	height: 32px;
}


@media (max-width: 500px) {
	body{
		justify-content: unset;
	}
	#vp {
		width: 100%;
	}
	
	header {
		width: 100%;
		justify-self: stretch;
	}
	footer {
		width: 100%;
	}
}