.wrapper{
    padding: 0px 10px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin-bottom: -1px;
}

.wrapper:hover{
    display: block;
background-color: #00800033;
}
.wrapper.notfound:hover{
    background: none;
}
.link{
    display: block;
    text-decoration: none;
    color: black;
}
.title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.description{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hr{
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    border: none;
    border-bottom:solid black 1px;
    height: 0;
}