.description {
    height: 200px;
}

.content {
    min-height: 200px;
    height: fit-content;
    border: #15007f solid 10px;
    position: relative;
    left: -10px;
    max-width: 500px;
    width: 98vw;
}
.share{
    display: flex;
}