.description {
    height: 200px;
}

.content {
    min-height: 200px;
    height: fit-content;
    border: #15007f solid 10px;
    position: relative;
    left: -10px;
    width:calc(100% + 20px);
}
.share{
    display: flex;
}